button {
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #4793fb;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.success {
  padding: 10px;
  color: green;
  border: 1px solid green;
}

.error {
  padding: 10px;
  color: red;
  border: 1px solid red;
}
